/* termsAndConditions.css */

/* CSS styles for the Terms and Conditions page */

.terms-container {
    font-family: Arial, sans-serif;
    /* max-width: 800px; */
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;

}

.terms-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.terms-content {
    line-height: 1.6;
    color: #666;
}

.terms-paragraph {
    margin-bottom: 10px;
}

.terms-list {
    list-style-type: disc;
    margin-left: 20px;
}

.terms-item {
    margin-bottom: 5px;
}
@media screen and (max-width: 860px) {
    .terms-container {
        width: 100%;
    }
}