.shopourcollection {
    /* border: solid green 2px; */
    /* display: flex; */
    /* margin: auto; */
    margin-bottom: -30px;
    font-size: 20px;
    /* font-style: italic; */
}
.spanproducts {
    margin-left: 170px;
}
.exploreourchocolate{
    font-size: 50px;
    width: 650px;
     color: #514633;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.labeldescription {
    font-size: 25px;
}
.labelitem {
    font-size: 15px;
}
.testest {
    height: 100vh;
    padding: 20px;
    /* background-color: #F6F4F2; */
}
.Shopourcategory {
    /* border: solid blue 3px; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.productimg {
    height: 420px;
    width: 350px;
}
.yogurtimg {
    height: 420px;
    width: 350px;
}

.chocolatebar {

    height: 420px;
    width: 350px;
}
.imageproductheader2{
    /* border: solid red 2px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    justify-content: flex-end;

}
.imageproductheader3{
    /* border: solid yellow 3px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
}
.imageproductheader4 {
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    justify-content: flex-end;


}
.imageproductheader1 {
    /* border: solid green 2px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;

}
.icereamimg {
    height: 420px;
    width: 350px;
}
.inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: solid red 2px; */
    justify-content: center;
    align-items: center;
    
}
/* .imageproductheader2 {
    border: solid red 2px;
} */
.ossaa {
    display: flex;
    flex-wrap: wrap;
    /* border: red solid 2px; */
    justify-content: center;
    gap: 20px;
    height: 520px;
}