.divnavbar {
    /* border: solid red 2px; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin: auto; */
    height: 120px;
    background-color: transparent;
    color: white;
    position: relative;
    z-index: 20;
}
.linavbar:hover {
    color: #BF624C;
}
.usericon {
    height: 25px;
    width: 25px;
}
.usericon:hover {
    cursor: pointer;
}
.carticon {
    height: 25px;
    width: 25px;
}
.carticon:hover {
    cursor: pointer;
}
.linavbar a {
    text-decoration: none;
    color: inherit;
}

.linavbar {
    list-style: none;
    font-weight: bold;
} 
.linavbar:hover {
    cursor: pointer;
}
.logoheader1 {
    height: 140px;
    width: 140px;
    background: none;
    
}
.ulnavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
.dropdown-content1 li {
    padding: 10px 12px;
    text-decoration: none;
    display: flex;
    color: black;
}
.dropdown1:hover .dropdown-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .dropdown-content1 li:hover {
    cursor: pointer;
    color: #BF624C;
  }  
  .dropdown-content1 {
    display: none;
    position: absolute;
    border: solid black 1px;
    color: black;
    background-color: #f9f9f9;
    min-width: 140px;
    padding: 5px;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }  
.leftsidedivnavbar {
    width: 40%;
    /* border: solid red 2px; */
}
.logodivnavbar {
    width: 20%;
    display: flex;
   justify-content: center;
   /* border: solid green 2px; */
}

.rightsidedivnavbar {
    display: flex;
    flex-direction: column;
   /* justify-content: flex-start; */
    align-items: end;
    width: 40%;
    /* border: solid blue; */
}
.ttss {
    display: flex;
    flex-direction: row;
    /* border: solid green 2px; */
    width: 40%;
    justify-content: space-evenly;
}

.image-container {
    opacity: 1;
}

.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    /* z-index: 111; */
}

.image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    animation: slide 1s ease-in-out ;
}
.linavbar.active a {
    color: #BF624C; /* Change the color for active link */
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 828px) {
    .ulnavbar {
      flex-direction: row;
    }
  
    .ulnavbar li {
      margin-bottom: 0;
      margin-right: 20px;
      /* color: white; */
      font-size: 15px;
      /* font-weight: normal; */
    }
    .contactuss {
        display: none;
    }
    .ttss {
        display: none;
    }
    .logodivnavbar img {
        height: 60px;
        width: 60px;
    }
  
    .leftsidedivnavbar {
      width: auto;
      flex: 1;
      padding: 15px;
    }
  
    .rightsidedivnavbar {
      width: auto;
      flex: 1;
      justify-content: flex-end;
    }
    .arrow-icon {
        display: none;
    }
  }
  